h1{
    color:black;
}

h1{
    border:solid;
    color: black;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

body{
    margin:0px;
    background-color: #f8f2f2;
}

.grid img{
    border: 2px solid #0000;
    border-radius: 50px;
    border:black;
}

.menu{
    display:flex;   
    justify-content: space-between;
    background-color: black;
    padding:15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:white;
}

.menu p{

    font-size: medium;
    
}

.item{
    border-radius: 20px;
    background-color: white;
    padding:30px;
    margin:25px;
    width:310px;
    font-family:fantasy;

}

a:link{
    color: white;
}

a:visited{
    color: blue;
}

.item:hover{

    transform:scale(1.2);
}
